/*!
 * Start Bootstrap - Blog Post (https://startbootstrap.com/template-overviews/blog-post)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-post/blob/master/LICENSE)
 */


/* Home Page */
.main-container {
  height: 100vh;
}

/* Form Page */

.form-container {
  height: 100vh;
}
.textarea-form {
  resize: none!important;
}

#file-input {
  opacity: 0;
}

/* Blog Page */

.blog-avatar {
  background: url("../images/avatar.jpg") center;
  background-size: cover;
  height: 200px;
  width: 200px ;

}


